@import "tailwindcss";

@theme {
  --color-brand-main: #19647E;
  --color-brand-sub: #28AFB0;
  --color-brand-dark: #37392E;
  --color-brand-light: #EEE5E5;
  
  --font-sans: "Inter", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
}
